/*  -----------------------General structure of whole page --------------------------------*/

.container{
    width: 100%;
    /* background-color: rgb(198, 247, 247); 
    opacity: 80%;*/
    display: grid;
    min-height: 600px;
    grid-template-rows: 80px [header] auto [main section] 200px [newsletter] 200px [footer];
    grid-auto-columns: 1fr;
}

header{
    grid-row: 1/2;
    grid-column: 1/2;
    /* border: 1px solid black;  */
    margin-bottom: 20px;
    background-color: var(--color-darkblue);
}

.main-section{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    /* background-image: url(../images/background1.jpg); */
    /* background-size: cover; */
}

.newsletter{
    grid-row: 3/4;
    grid-column: 1/2;
    margin-bottom: 20px;
}

footer{
    grid-row: 4/5;
    grid-column: 1/2;
    background-color : var(--color-darkblue);
}

/*  ----------------------- General structure of main section - Grid --------------------------------*/

.main-container{
    width: 100%;
    height: 100%;
    display : grid;
    grid-template-rows: 1fr [photo] 0.3fr [header] 2fr [activities];
    margin: 0px auto 0px;
    /* background-color: bisque;  */

}

.activities-header-picture{
    grid-row: 1/2;
    grid-column: 1/2;
    /* background-color: green; */
    background-image: url(../images/activities-picture1.JPG); 
    background-size: cover; 
}

.activities-header{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: var(--color-gray);
}

.activities{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: var(--color-grayblue);
    display: flex;
    justify-content: space-around; 
    /* margin-bottom: 20px; */
    flex-wrap: wrap; 
    height: auto; 
}

/*  -----------------------General structure of main section - Grid --------------------------------*/

.main-container h1{
    /* text-align: center; */
    margin-top: 0;
    padding-top: 25px;
    /* font-size: 36px; */
}

.main-container h2{
    padding-top: 20px;
    text-align: center;
    font-family: roboto;
    font-weight: 500;
}

.activities-header-picture h1, 
.activities-header-picture h2,
.activity  h2,
.activity  h3,
.activity p{
    color: var(--color-white);
}

.activity{
    border: 1px solid var(--color-black); 
    background-color: var(--color-darkblue); 
    border-radius: 20px;
    width: 25%;
    text-align: center;
    margin: 2% 1%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
 }

 .activity-picture{
    height: 100px;
    border-radius:  20px  20px 0  0;
    /* background-color: #485696; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-picture img{
    max-width: 90px;
    max-height: 90px;
    margin: 0 auto
}

.activity-info{
    margin: 0px 5px 20px 5px;
}

.activity  h2{
    font-weight: 600;
    letter-spacing: 0.8px;
}

/*  ----------------------- Newsletter section --------------------------------*/

.newsletter{
    background-color: var(--color-gray);
    font-family: Poppins;
    height: 150px;
    width: 500px;
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.newsletter form{
    display: flex;
    justify-content: center;

}

.newsletter h2{
    padding-top: 20px;
}


 .newsletter button{
/*     font-family: roboto;
    background-color: var(--color-orange) ;  */
    height: 38px;
    border: none;
/*     
    font-size: 20px;
    padding: 5px 20px; */

    border-radius: 0 20px 20px 0;

}

/* .newsletter button:hover{
    background-color: var(--color-darkorange); 
} */

section.newsletter form input{
    width: 200px;
    height: 38px;
    max-width: 80%;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
}


/*-------------------------------------------------------------
*************************   MEDIA QUERIES  ********************
--------------------------------------------------------------*/
@media screen and (min-width: 1200px)
{
    .main-container{
        /* background-color: rgb(208, 169, 245);  */
        width: 80%; 
        grid-template-rows: 1fr [photo] 0.3fr [header] 2fr [activities];
    }  

}

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1200px)
{
    .main-container{
        /* background-color: rgb(208, 169, 245);   */
        /* width: 90%;  */
        grid-template-rows: 0.8fr [photo] 0.3fr [header] 2.2fr [activities];
        /* grid-template-rows: 1fr [photo] 0.3fr [header] 2fr [activities]; */
    }  
    .activities{
        justify-content: space-between; 
    }
}


/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 960px)
{
     .main-container{
        /* background-color: rgb(7, 104, 43);  */
        /* opacity: 80%;  */
        /* display : grid; */
        /* grid-template-rows: 0.7fr [photo] 0.2fr [header] 2fr [activities];  */
    } 

    .activities{
        margin-top: 10px;
        justify-content: space-around; 
    }

    .activity{
        /* background-color:#E7E7E7 ; */
        width: 40%;
    }

}

/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 768px)
{
     .main-container{
        /* background-color: rgb(243, 220, 87);   */
        /* opacity: 80%;   */
        grid-template-rows: 0.7fr [photo] 0.2fr [header] 2.7fr [activities];
    } 

    .activity{
        width: 80%;
        margin: 10px auto;
 }

 .newsletter{
    margin-top: 0;
    background-color: var(--color-gray);
    width: 400px;
 }
}