:root{
    --color-grayblue : #E7E7E7; 
    --color-black: #0a0a0c;
    --color-white: white;
    --color-darkblue: #485696;
    --color-orange: #fc7a1e;
    --color-darkorange: #F24C00;
    --color-gray: gray;
}

*{
    border: none; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

button{
    font-family: roboto;
    background-color: var(--color-orange) ; 
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    text-transform:uppercase
}

button:hover{
    background-color: var(--color-darkorange) ; 
    color: var(--color-grayblue);
}


h1{
    text-align: center;
    font-family: poppins;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.6px;
    color: var(--color-grayblue);
}

h2{
    font-family: roboto;
    font-weight: 500;     
    font-size: 24px;
    letter-spacing: 0.6px;
}

h3{
    font-family : lora;
    font-weight: 600;     
    font-size: 18px;
    letter-spacing: 0.8px;
}

p{
    font-family: lora;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.8px;
}


hr{
    text-align: center;
    border: none;
    border-top: 5px var(--color-orange) solid;
    width: 300px;
}




