/*  -------- General structure of the whole page --------------*/

.container{
    width: 100%;
    display: grid;
    min-height: 600px;
    grid-template-rows: 80px [header] auto [main section]  200px [footer];
    grid-auto-columns: 1fr;
}


header{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: var(--color-darkblue);
}

.main-section{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 20px;
}

footer{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color : var(--color-darkblue);
}


/*  ----------------------- Header --------------------------*/

.header-container{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between; 
    font-family: Lora;
}

.header-container .header-logo{
    padding-inline-start: 10px;
}

.header-container .header-logo span{
    color: var(--color-orange);
}

.header-container ul.header-menu{
    display: flex;
}  

.header-container ul  li{
    color: var(--color-black);
    margin:  0 10px;    
}

.header-container ul li a.main-menu{
    color: var(--color-black);
    padding: 5px 10px 5px 10px;
    background-color: var(--color-grayblue); 
    border-radius: 20px;
}

.header-container ul li.member a{
    color: var(--color-black);
    padding: 10px 15px 10px 15px;
    background-color: var(--color-orange); 
    border-radius: 20px;
}

.header-container ul li.dropdown-menu {
    display: none;
}

.submenu{
    display: none;
}

.header-container ul li a:hover{
    background-color: var(--color-darkblue); 
    color: var(--color-darkorange);  
} 
 

/* ---------- General structure of main section - Grid --------*/

.main-container{
    width: 90%;
    height: 100%;
    display : grid;
    grid-template-rows: 1.5fr [photo] 0.3fr [header] 1fr [activities];
    margin: 0px auto 0px;
}

.homepage-header-picture{
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(../images/homepage-image1.JPG); 
    background-size: cover; 
    display: flex;
}

.header-picture{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* filter:blur(2px) */
    padding-bottom: 10px;
}

.header-picture hr{
    width: 200px;
}

.homepage-header{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: var(--color-gray);
}

.actual-information{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: var(--color-grayblue);
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
    margin-bottom: 20px;
    height: auto; 
    background-color: #485696;
}

.underground{
    border: 1px solid black;
    width: 30%;
    background-color: #E7E7E7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homepage-header-picture h1{
    margin-left: 20%;
    margin-top: 0;
    padding-top: 25px;
    color: white;
    text-shadow: 2px 2px var(--color-black);
}

.homepage-header-picture h2{
    margin-left: 20%;
    color: var(--color-white);
}

.homepage-header-picture h2.header-activity{
    text-shadow: 2px 2px var(--color-black);
}

.homepage-header h2, h3{
    text-align: center;
}

.underground h2{
    text-align: center;
    margin: 10px auto;
    color: var(--color-darkorange);
}

.underground p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

/* --------------------------Table ----------------------------*/

table.open{
    width: 90%;
    margin: auto;
    font-family: roboto;
    font-size: 16px;
    text-align: center;
}

.activity-name{
    text-align: left;
}


/*  ----------------------- Footer  ---------------------------*/

footer .footer-container{
    display: flex;
    justify-content: space-around;

}

footer .footer-container ul li a{
    color:black ;
    padding: 5px 10px 5px 10px;
}

footer .footer-container ul li.list a:hover{
    color:white ;
}

footer .footer-container ul{
    padding-inline-start: 0px;
    list-style: none;
    text-decoration: none;
}


footer .footer-container ul li{
    font-size: Lora;
    font-size: 17px;
    margin-bottom: 5px;
}

footer .footer-container ul li.list-title{
    font-size: poppins;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}



/**************************************************************
*************************   MEDIA QUERIES  ********************
***************************************************************/

/*-------------------------------------------------------------
/*                         Large desktops
--------------------------------------------------------------*/

 @media screen and (min-width: 1200px)
{
    .main-container{
        width: 80%; 
        grid-template-rows: 1.5fr [photo] 0.3fr [header] 1fr [activities];
    }

    .actual-information{
        display: flex;
        flex-wrap: wrap;
    }
    
} 

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/
@media screen and (max-width: 1200px)

{
    .main-container{
        width: 90%; 
        grid-template-rows: 1.5fr [photo] 0.3fr [header] 1fr [activities];
    }

    .actual-information{
        display: flex;
        flex-wrap: wrap;
    }   
}


/*-------------------------------------------------------------
/*                        EXTRA BREAKPOINT
--------------------------------------------------------------*/ 

@media screen and (max-width: 1040px)
{
    .main-container{
        width: 90%; 
        grid-template-rows: 0.7fr [photo] 0.2fr [header] 2fr [activities]; 
    } 

    .header-picture{
        width: 50%;
    }

    .actual-information{
        display: flex;
        flex-wrap: wrap;
    }

    .actual-information{
        display: flex;
        flex-wrap: wrap;
    }
    
    .underground{
        min-width: 40%;
    }

}


/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 960px)
{
     .main-container{
        grid-template-rows: 0.7fr [photo] 0.2fr [header] 2fr [activities]; 
    } 

  /*------------------------- Header ------------------------*/

    .header-container ul li.main-menu {
        display: none;
    }

    .header-container ul.header-menu{
        align-items: center;
    }

    .header-container ul li.dropdown-menu{
        display: block;
        position: relative;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .submenu{
        display: none;
        position: absolute;
        background-color: #485696;
        top: 50px;
        left: -120px;
        min-width: 200px;
        height: 150px;
        margin: auto;
        padding-top: 15px; 
    }

    .header-container ul li.dropdown-menu:hover .submenu {
        display: block;
    
    }

    .content li {
        padding-bottom: 10px;
    }

    .content li a{
        text-align: center;
        color:var(--color-black);
        font-size: 15px;
        width: 100%;
        padding: 5px 30px 5px 10px;
    }


    .dropdown-menu .submenu .content li a:hover{
        background-color: var(--color-darkblue); 
        color: var(--color-orange);  
    }


    .header-container .li .header-logo{
        padding-bottom: 20px;
    }
}

/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 768px)
{
     .main-container{
        /* background-color: rgb(243, 220, 87);   */
        /* opacity: 80%;   */
        grid-template-rows: 0.5fr [photo] 0.1fr [header] 2fr [activities]; 
    } 

    .header-picture{
        width: 80%;
    }

    .underground{
        min-width: 80%;
    }

}    