
/* *************************************************************************************************************************** */
/*Header, footer + h1*/

/*anpassar header lite för att funka med min kod*/
.container{
    min-width: 768px;
    min-height:100px;
    margin-bottom: -150px;
    
}

/*anpassar footer lite för att funka med min kod*/
footer .footer-container{
    min-width: 768px;
background-color: var(--color-darkblue);
}

.om-oss-header{
    display: grid;
   max-width: 768px;
   min-width: 765px;
   height: 100px;
   margin:10px auto;
   grid-template-columns: 1fr;
   grid-template-rows: 50px;
   background-color: var(--color-grayblue);
}

h1{
    color: var(--color-black);
    grid-row: 1/2;
    grid-column: 1/2;
}
/* ****************************************************************************************************************************** */

/**MAIN GRID CONTAINER**/

body{
    margin-left: 10px;
    margin-right: 10px;
}
.container-om-oss{
    min-width: 768px; /*pga vi vill anpassa hemsidan efter mobile first*/
    min-height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    padding: 10px;
    margin: 20px auto;

}

/* ****************************************************************************************************************************** */
/*GRID INOM GRID-*/
/* ****************************************************************************************************************************** */

#section-om-oss1,
#section-om-oss2,
#section-om-oss3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    margin-top: 20px;
}

.om-oss-p{
    font-size: 20px;
}


#section-om-oss1,
#section-om-oss3{
margin-left: 5px;
}

#section-om-oss2{
    margin-right:5px;
}

#header-om-oss1,
#header-om-oss2,
#header-om-oss3{
    background-color: var(--color-darkblue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--color-white);
    grid-row: 1/2;
    

}

#om-oss-text-box1,
#om-oss-text-box2,
#om-oss-text-box3{
    background-color: var(--color-grayblue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    grid-row:2/3;

}

/* ****************************************************************************************************************************** */
/* Grid med img---------------------------------------------------------------------------------------------------------------------- */
/* ****************************************************************************************************************************** */

#om-oss-img,
#om-oss-img3{
    margin-right:5px;
}

#om-oss-img2{
    margin-left: 5px;
}

#om-oss-img,
#om-oss-img2,
#om-oss-img3{
    height: 97%;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    
}

#om-oss-img{
    grid-row: 1/2;
    grid-column: 2/3;

}


#om-oss-img2{
    grid-row: 2/3;
    grid-column: 1/2;
}

#om-oss-img3{
    grid-row: 3/4;
    grid-column: 2/3;
}





/**************************************************************************************************************************************/
/*Tablets*/
/**************************************************************************************************************************************/
@media screen and (min-width:768px){
    .container,
    .footer-container{
       min-width: 90%;
    }

    .container-om-oss{
        width: 768px;
        padding: 10px;
    }

    .om-oss-header{
       width: 886px;
    }
    #section-om-oss1,
    #section-om-oss2,
    #section-om-oss3{
        grid-template-rows: 0.5fr 4fr;
    }

    #section-om-oss1,
    #section-om-oss3{
    margin-left: 5px;
    }
    
    #section-om-oss2{
        margin-right:5px;
    }
    



    p{
        font-size: 20px;
    }

    h2{
        font-size: 22px;
    }

  

    #section-om-oss1,
    #section-om-oss3{
    margin-left: 2px;
    }
    
    #section-om-oss2{
        margin-right:2px;
    }
}


/* ****************************************************************************************************************************** */
                                        /* MEDIA QUERY */
/************************************************************************************************************************************/
                                        /*Small desktops*/
/************************************************************************************************************************************/

@media screen and (min-width:960px) {

    .container{
        width:99%;
    }

    .footer-container{
        width:99%;
    }

    .container-om-oss{
        width: 960px;   
         }


    #section-om-oss1,
    #section-om-oss2,
    #section-om-oss3{
        grid-template-rows: 0.4fr 3fr;
    }

    p{
        font-size:22px;
    }

    h2{
        margin-top: 25px;
        font-size: 25px;
    }

   
    #om-ossimg,
    #om-oss-img3{
        margin-right: 1px;

    }
    
    #om-ossimg2{
        margin-left:1px;

    }

      
    #section-om-oss1,
    #section-om-oss3{
    margin-left: 1px;
    }

    #section-om-oss2{
    margin-right:1px;
}

}

/************************************************************************************************************************************/
/*Large desktops*/
/************************************************************************************************************************************/
@media screen and (min-width:1200px)
{
    .container
    {
        width: 99.5%;
    }

    .footer-container{
        width: 90%;
    }

    .container-om-oss{
    width: 1200px;
    padding: 10px;
}
    #section-om-oss1,
    #section-om-oss2,
    #section-om-oss3{
        grid-template-rows: 0.2fr 1fr;
        padding-bottom: 20px;


    }

    p{
        font-size:22px;
    }

    h2{
        margin-top: 25px;
        font-size: 25px;
    }

    #om-ossimg,
    #om-oss-img3{
        margin-right: 1px;
    }
    
    #om-ossimg2{
        margin-left:1px;
    }

    
#section-om-oss1,
#section-om-oss3{
margin-left: 1px;
}

#section-om-oss2{
    margin-right:1px;
}

#om-oss-img,
#om-oss-img2,
#om-oss-img3{
    height: 94%;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    
}


}



